div.chaka-navbar{
    height: 70px;
}
div.stock-item{
    height: 160px;
    width: 105px;
    border-radius: 6px;
    background-color: #f6f5f5;
    cursor:pointer;
    transition: all linear 400ms;
}
div.stock-item:hover, div.stock-item.active-stock{
    background-color: #6ca1d6;
    color:white;
}
div.stock-item:hover .stock-header {
    color: #e5e5e7;
}
div.stock-item:hover .stock-name {
     color: #fff;
    font-weight: bold;
 }
.valuation{
    font-size:1.1rem;
    font-weight: bold;
}
.valuation-pt{
    font-size:0.89rem;
    color:red;
}
div.stock-item:hover .valuation-pt {
    color: #eac783;
    font-weight: bold;
}
div.stock-item:hover .valuation {
     color: #c6eebf;
 }
div.chart-container{
    height : 350px;
    background-color: #bfeadf;
    border : dotted 1px #7fb5ac;
}
div.chart-container-bar-chart{
    height : 220px;
}
